#container {
    display: flex;
    align-items: stretch; /* Ensure vertical stretching */
    justify-content: center;
    border: 10px solid black;
    height: 500px;
    width: 500px;
    margin: 0;
}

.container1 {
    display: flex;
    flex: 1;
    border-color: black;
    /* background-color: black; */ /* Remove or comment out this line */
    flex-direction: column;
}

.box {
    flex: 1;
    margin: 0;
    padding: 0;
    border: 2px black;
    border: 1px solid black;
}


.hover{
    background-color: black;
}


.pixels {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
} 

.body-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.body-2{
    padding: 20px;

}